<h1>Project Diary</h1>

<p>This is the project diary that will talk about things that I have accomplished using One Month Rails.</p>

<h2>Sunday August 9, 2014</h2>
<p>Today I learned how to import Boostrap and customize pages using SASS. I also added this diary page.</p>